export(hyperbolic)
export(hyperbolicnet)
export(createDevice)
export(createBlankPlot)
export(Experiment)
export(plotConservative)
S3method(plotConservative, Experiment)
export(plotActive)
S3method(plotActive, Experiment)
export(ExperimentSlug)
S3method(plotConservative, ExperimentSlug)
S3method(plotActive, ExperimentSlug)
export(Simulation)
export(SimulationSlug)
export(SimulationLagrange)
export(plotPathsConservative)
S3method(plotPathsConservative, SimulationLagrange)
export(plotPathsActive)
S3method(plotPathsActive, SimulationLagrange)
